body {
    margin: 0;
}


.layoutlens__container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999999999999999; // ON TOP DAMNIT

    .layoutlens__overlay {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        align-content: center;
        opacity: 0.8;
        color: #000000;
    
        .layoutlens__padding,
        .layoutlens__margin {
            position: absolute;
            box-sizing: border-box;
            display: block;
            height: 100%;
            width: 100%;
        }

        .layoutlens__margin {
            box-sizing: none;
        }
    }
}